.default_btn,
.menu_btn,
.highlight_bt {
  border: none;
  font-size: 1.2em;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
  margin: 5px 5px;
  font-weight: bold;
  outline: none;
  position: relative;
}
.menu_btn {
  z-index: 0;
  transition: all 0.3s;
}
.menu_btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 0%;
  height: 103%;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}
.menu_btn:hover,
.menu_btn:active {
  color: #293f50;
}
.menu_btn:hover:after {
  width: 100%;
  opacity: 1;
}
.highlight_bt:hover,
.highlight_bt:active {
  color: #008080;
}
