th-width = 200px
td-min-width = 420px
td-img-min-width = 400px
td-img-width = 350px

ul.nav-pills
  top: 120px
  height:50%
  background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 
  background-size: 100% 100%
  position: fixed
  border-radius: 9px

@media screen and (max-width: 810px) {
  #section1, #section2, #section3, #section41, #section42  {
      margin-left: 150px;
  }
}

#section-cultivar td,th
  padding:5px !important

#section-cultivar td
  min-width:td-min-width
  vertical-align:middle  !important


#section-cultivar th 
  width:th-width
  border-right: 1px solid black

#section-cultivar .td-image
  min-width:td-img-min-width

#section-cultivar .td-image img 
  width:td-img-width

#section-cultivar .td-image
  text-align:center

section
  margin-top:15px

#section-cultivar td
  white-space:pre-line

section
  padding-top:1em

.section-coefficient table
  margin-top: 1em

.section-coefficient th,
.section-coefficient td
  font-size: 14px
  text-align:center

.section-coefficient .div-table
  overflow:auto

.section-coefficient tr > th:nth-child(1),
.section-coefficient tr > td:nth-child(1)
  border-right: 1px solid black

#section-summary p
  max-height: 15em
  overflow:auto

span.amount
  font-weight:bold

.col-sm-2 
  width: 16.66666667%
  float: left

.col-sm-10 
  width: 80%
  float: right

#tree
  background-color:#EEE
  border-radius:5px
  padding:10px

.tree li,
.tree li > a,
.tree li > span
  padding: 0
  border-radius: 4px


.tree li a
  color:black
  text-decoration: none
  line-height: 0.5em
  border-radius: 4px

.tree li a:hover
  background-color: #34BC9D
  color: #fff

.active
  background-color: #34495E
  color: white

.active a
  color: #fff

.tree li a.active:hover
  background-color: #34BC9D

.second-level-title
  font-weight:bold
  font-size:20px