/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v8/X1g_KwGeBV3ajZIXQ9VnDjxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.default_btn,
.menu_btn,
.highlight_bt {
  border: none;
  font-size: 1.2em;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
  margin: 5px 5px;
  font-weight: bold;
  outline: none;
  position: relative;
}
.menu_btn {
  z-index: 0;
  transition: all 0.3s;
}
.menu_btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 0%;
  height: 103%;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
}
.menu_btn:hover,
.menu_btn:active {
  color: #293f50;
}
.menu_btn:hover:after {
  width: 100%;
  opacity: 1;
}
.highlight_bt:hover,
.highlight_bt:active {
  color: #008080;
}
.embossed_txt {
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  opacity: 0.9;
}
.text3D {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
html {
  min-width: 1200px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar {
  border-radius: 0;
}
.navbar-nav>li,
.navbar-nav {
  float: left;
  margin: 0px;
}
.navbar-right {
  float: right;
}
.navbar {
  border-radius: 0;
}
.panel {
  margin-bottom: 0;
}
a.navbar-brand {
  color: #e5ffcc;
}
.navbar-brand {
  font-family: 'Abril-Fatface', cursive;
  font-size: 30px;
  font-weight: bold;
}
.gradient {
  background: linear-gradient(to right, #648880, #293f50);
}
.header,
.footer {
  padding: 1em 0 1em 0;
}
footer {
  min-width: 1200px;
  width: 100%;
  height: 78px;
  position: absolute;
  bottom: 0;
}
@media (min-width: 0px) {
  .container {
    width: 1200px;
  }
}
.main_container {
  min-height: 100%;
  position: relative;
}
.main_container::after {
  content: "";
  display: block;
  height: 78px;
  margin-top: 20px;
}
.aafc-logo {
  height: 30px;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.paginate_input {
  width: 2.5em;
  text-align: center;
  margin-left: 5px;
}
.paginate_of {
  margin-right: 5px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 2px;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-group {
  margin-bottom: 0;
}
.panel-title {
  text-align: center;
}
.col-sm-6 {
  width: 50%;
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: right;
  }
}
.dataTables_wrapper .dataTables_paginate .fg-button {
  margin: 0;
}
.marquee {
  display: inline-block;
  animation: marquee 5s linear infinite;
  padding-left: 100%;
}
.marquee span:hover {
  animation-play-state: paused;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.pre-line {
  white-space: pre-line;
}
.fieldset {
  border: none;
}
.fieldset > h1 {
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.fieldset > h1 > span {
  flex-grow: 0;
}
.fieldset > h1:before,
.fieldset > h1:after {
  border-top: 2px groove threedface;
  content: ' ';
  display: inline-block;
  height: 1em;
  position: relative;
  margin: 0px 2px;
  top: 0.55em;
}
.fieldset > h1:before {
  width: 1em;
  flex-grow: 0;
}
.fieldset > h1:after {
  flex-grow: 1;
}
@-moz-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@-o-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
