@import 'Abril-Fatface.css'
@import 'button'
@import 'text'

HTML-MIN-WIDTH = 1200px
FOOTER-HEIGHT = 78px
CONTAINER-WIDTH = 1200px
FOOTER-TOP-MARGIN = 20px

html
  min-width: HTML-MIN-WIDTH
  overflow-y:scroll
  margin:0
  padding:0
  height:100%

body
  margin:0
  padding:0
  height:100%

.navbar
  border-radius: 0

.navbar-nav>li, .navbar-nav 
  float: left
  margin:0px

.navbar-right
  float: right

.navbar
  border-radius: 0

.panel
  margin-bottom:0

a.navbar-brand
  color:#E5FFCC

.navbar-brand
    font-family: 'Abril-Fatface', cursive
    font-size:30px
    font-weight:bold

.gradient
    background:linear-gradient(to right,#648880, #293f50)

.header
  padding: 1em 0 1em 0

footer
  min-width: HTML-MIN-WIDTH
  width:100%
  height:FOOTER-HEIGHT
  position:absolute
  bottom:0

.footer
  @extend .header  

@media (min-width: 0px)
  .container
    width: HTML-MIN-WIDTH

.main_container
  min-height:100%
  position:relative

.main_container::after
  content:""
  display:block
  height:FOOTER-HEIGHT
  margin-top:FOOTER-TOP-MARGIN

.aafc-logo
  height:30px

@media (min-width: 1200px)
  .container
    width: CONTAINER-WIDTH
    
.paginate_input
  width:2.5em
  text-align:center
  margin-left:5px

.paginate_of
  margin-right:5px

table.dataTable.compact tbody th, table.dataTable.compact tbody td
  padding:2px


.form-inline .form-control
  display: inline-block
  width: auto
  vertical-align: middle

.form-group 
  margin-bottom: 0

.panel-title
  text-align:center

.col-sm-6
  width: 50%
  display:inline-block

@media screen and (max-width: 640px)
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter 
    float: right

.dataTables_wrapper .dataTables_paginate .fg-button
  margin:0


.marquee
  display: inline-block
  animation: marquee 5s linear infinite
  padding-left: 100%;

.marquee span:hover 
  animation-play-state: paused


@keyframes marquee 
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }

.loader 
  border: 16px solid #f3f3f3
  border-radius: 50%
  border-top: 16px solid #3498db
  border-bottom: 16px solid #3498db
  display: block
  width: 120px
  height: 120px
  margin:0 auto
  animation: spin 2s linear infinite;


@-webkit-keyframes spin 
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }


@keyframes spin 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

.pre-line
  white-space:pre-line

.fieldset
  border: none

.fieldset > h1
  font-size: 20px
  font-weight:bold
  display: flex

.fieldset > h1 > span
  flex-grow:0

.fieldset > h1:before,
.fieldset > h1:after 
  border-top: 2px groove threedface
  content: ' '
  display: inline-block
  height: 1em
  position:relative
  margin: 0px 2px
  top:0.55em


.fieldset > h1:before
  width: 1em
  flex-grow:0

.fieldset > h1:after 
  flex-grow:1
