{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt" style="margin-bottom: 0px">
          Brief introduction
        </legend>
        <h5 class="text-primary" style="font-size: 16px;line-height:1.5">
                    <p>
Canada Crop Cultivar Pedigree Database (C3PD) is a comprehensive pedigree database for crop cultivars registered in Canada. This database provides breeders and other researchers with detailed and accurate pedigree and cultivar information of Canada major crops, including wheat, barley and flax currently in version 1.0. More crops such as oat, soybean, canola and maize, and more cultivar information such as disease resistance and their genes will be included in the next version. The database is still under development and will be maintained yearly to add new cultivars.
<br>
<br>
Currently C3PD is accessible within AAFC.  Any comments and suggestions are greatly appreciated to improve the database. In addition, we are seeking any funding to accomplish this database development plan. The flax section in this database has been supported by Western Grains Research Foundation (WGRF) and the Saskatchewan Flax Development Commission (SaskFlax) in the project “Development of a flax breeding database: a gateway to novel breeding strategies”. 
                </p></h5>
      </fieldset>
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt" style="margin-bottom: 0px">
          Contact
        </legend>
        <h5 class="text-primary" style="margin-top:-10px;font-size: 16px" >
<p style="white-space:pre;line-height:1.5">
Dr. Frank M. You
Research Scientist
Agriculture and Agri-Food Canada 
101 Route 100, Morden, Manitoba R6M 1Y5 
Frank.you@agr.gc.ca 
Tel:  204-822-7525
</p>
                </h5>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
