<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if title %} {{ title }} {% else %} Crop Pedigree {% endif %}
    </title>
    <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style/default.css') }}" rel="stylesheet" type="text/css">
    {% if css_file %}
    <link href="{{ css_file }}" rel="stylesheet" type="text/css"> 
    {% endif %} 
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tool.js') }}"></script>
    </script>
    {% if js_file %}
    <script src="{{ js_file }}">
    </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    </script>
    {% block js %}{% endblock %}
</head>


<body>
    <div class="main_container">
        <header class="container-fluid  gradient">
            <div class="container header">
                <ul class="nav navbar-nav navbar-right" style="float: right;">
                    <li>
                        <button class="highlight_bt" onclick="window.location='{{ url_for("index") }}';">
                            Home
                        </button>
                    </li>
                    <li>
                        <button class="highlight_bt" onclick="window.location='{{ url_for("about") }}';">
                            About
                        </button>
                    </li>
                </ul>
                <a class="navbar-brand" href="{{ url_for("index") }}">
                    Canadian Crop Cultivar Pedigree Database (C3PD)
                </a>
            </div>
        </header>

        <div class="container">
        {% block content %}{% endblock %}
        </div>
        
        <!--footer starts here-->
        <footer class="text-center">
            <div class="container-fluid gradient">
                <div class="container footer">
                    <div>
                        <a href="http://www.agr.gc.ca/eng/home/?id=1395690825741" target="_blank">
                            <img alt="AAFC" class="aafc-logo" src="{{ url_for ('static', filename='images/aafc.png') }}" />
                        </a>
                    </div>
                    <div>
                        Copyright © 2016
                    </div>
                </div>
            </div>
        </footer>
        <!--footer ends here-->
    </div>
</body>

</html>

