{% extends "base.html" %} 

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.treemenu.js') }}"></script>
{% endblock %} 

{% block style %}
<link href="{{ url_for('static', filename='style/jquery.treemenu.css') }}" rel="stylesheet" type="text/css">
{% endblock %} 

{% block content %}
<script>
    variables = {};
    variables.currentURL = '{{ url_for("index") }}';
    variables.cropName = '{{ cropName }}';
</script>
<div class="row">
  <nav class="col-sm-2" id="scrollspy">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#section-cultivar">Basic information</a></li>
      <li><a href="#section-summary">Parents and derived cultivars</a></li>
      {% if coefficientParents != None or coefficientChildren != None%}
      <li><a href="#section-coefficient">Coefficients of parents <br> (CoP)</a></li>
      {% endif %}
      <li><a href="#section-pedigree">Pedigree tree</a></li>
    </ul>
  </nav>
  <div class="col-sm-10">
    <h2 style="color: #159846;">{{ cropName|capitalize }}: {{cultivar.cultivar_name}}</h2>
    <section id="section-cultivar">
      <table class="table table-striped">
        <tr>
          <th>Cultivar name</th>
          <td>{{ cultivar.cultivar_name }}</td>
          <td class="td-image" rowspan="10"><img src="{{ cultivar.image }}"></td>
        </tr>
        <tr>
          <th>Used names</th>
          <td>{{ cultivar.used_names }}</td>
        </tr>
        <tr>
          <th>Parent1</th>
          <td>{{ cultivar.parent1 }}</td>
        </tr>
        <tr>
          <th>Parent2</th>
          <td>{{ cultivar.parent2 }}</td>
        </tr>
        <tr>
          <th>Year registered</th>
          <td>{{ cultivar.year_registered}}</td>
        </tr>
        <tr>
          <th>Year released</th>
          <td>{{ cultivar.year_released}}</td>
        </tr>
        <tr>
          <th>Year started</th>
          <td>{{ cultivar.year_started}}</td>
        </tr>
        <tr>
          <th>Improvement Status</th>
          <td>{{ cultivar.improvement_status }}</td>
        </tr>
        <tr>
          <th>Breeding method</th>
          <td>{{ cultivar.breeding_method }}</td>
        </tr>
        <tr>
          <th>Origin</th>
          <td>{{ cultivar.origin }}</td>
        </tr>
        {% for attr in attrs%}
        <tr>
          <th> {{ attr.capitalize().replace('_',' ') }}</th>
          <td colspan="2">{{ cultivar|attr(attr) }}</td>
        </tr>
        {% endfor %}
      </table>
    <section id="section-summary">
      <h3 class="second-level-title">Parents and derived cultivars</h3>  
      <span style="font-weight: bold">Number of indirect and direct parents:</span>
      <span class="amount">
      {% if listParents == None %}
        0
      {% else %}
        {{ listParents|length }}
      {% endif %}
      </span>
      <br>

      {% if listParents != None %}
      <span style="font-weight: bold">List of indirect and direct parents:</span>
      <p>
      {% for cultivar in listParents %}
        <a class="cultivar-link" href="javascript:void(0)">{{ cultivar.cultivar_name }}</a>,
      {% endfor %}
      </p>
      {% endif %}

      <span style="font-weight: bold">Number of ancestors:</span>
      <span class="amount">
      {% if listAncestors == None %}
        0
      {% else %}
        {{ listAncestors|length }}
      {% endif %}
      </span>
      <br>

      {% if listAncestors != None %}
      <span style="font-weight: bold">List of ancestors:</span>
      <p>
      {% for cultivar in listAncestors %}
        <a class="cultivar-link" href="javascript:void(0)">{{ cultivar.cultivar_name }}</a>,
      {% endfor %}
      </p>
      {% endif %}
      <span style="font-weight: bold">Number of derived lines and cultivars:</span>
      <span class="amount">
      {% if listChildren == None %}
        0
      {% else %}
        {{ listChildren|length }}
      {% endif %}
      </span>
      <br>

      {% if listChildren != None %}
      <span style="font-weight: bold">List of derived lines and cultivars:</span>
      <p>
      {% for cultivar in listChildren %}
        <a class="cultivar-link" href="javascript:void(0)">{{ cultivar.cultivar_name }}</a>,
      {% endfor %}
      </p>
      {% endif %}
      <span style="font-weight: bold">Number of derived registered cultivars:</span>
      <span class="amount">
      {% if listRegisteredChildren == None %}
        0
      {% else %}
        {{ listRegisteredChildren|length }}
      {% endif %}
      </span>
      <br>
      {% if listRegisteredChildren != None %}
      <span style="font-weight: bold">List of derived registered cultivars:</span>
      <p>
      {% for cultivar in listRegisteredChildren %}
        <a class="cultivar-link" href="javascript:void(0)">{{ cultivar.cultivar_name }}</a>,
      {% endfor %}
      </p>
      {% endif %}
    </section>
    </section>
    {% if coefficientParents != None %}
    <section id="section-coefficient" class="section-coefficient">
      <h3 class="second-level-title">Coefficient of parentages</h3>
      <div class="div-table"> 
      <table class="table table-striped">
        <tr>
          <th></th>
          {% for parent in coefficientParents %}
            <th nowrap><a class="cultivar-link" href="javascript:void(0)">{{ parent[0] }}</a></th>
          {% endfor %}
        </tr>
        <tr>
          <td nowrap>{{ cultivar.cultivar_name }}</td>
          {% for parent in coefficientParents %}
            <td nowrap>{{ parent[1] }}</td>
          {% endfor %}
        </tr>
      </table>
      </div> 
    </section>
    {% endif %}
    {% if coefficientChildren != None %}
    <section  {% if coefficientParents == None %} id="section-coefficient" {% endif %} class="section-coefficient">
      <h3 class="second-level-title">Coefficient of parentages with derived  lines and cultivars</h3>
      <div class="div-table"> 
      <table class="table table-striped">
        <tr>
          <th></th>
          {% for child in coefficientChildren %}
            <th nowrap><a class="cultivar-link" href="javascript:void(0)">{{ child[0] }}</a></th>
          {% endfor %}
        </tr>
        <tr>
          <td nowrap>{{ cultivar.cultivar_name }}</td>
          {% for child in coefficientChildren %}
            <td nowrap>{{ child[1] }}</td>
          {% endfor %}
        </tr>
      </table>
      </div> 
    </section>
    {% endif %}
    <section id="section-pedigree">
      <h3 class="second-level-title">Pedigree tree</h3>
      <dir id="tree">
      <button id="expand-tree" type="button" class="btn btn-success btn-xs">+ Fully expand tree</button>
      <button id="collapse-tree" type="button" class="btn btn-success btn-xs">- Collapse tree</button>
      (Click on cultivar/line on the pedigree tree or image to a web link)
      {{ treeHTML|safe }}
      </dir>
      {% if svg != None %}
      <div id="pedigree-image" style="overflow: auto">{{ svg|safe }}</div> 
      {% endif%}
    </section>
  </div>
</div>
{% endblock %}
