{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <fieldset class="well the-fieldset">
        <legend class="the-legend embossed_txt" style="margin-bottom: 0px">
          Cultivar Not Found
        </legend>
        <h5 class="text-primary" style="font-size: 16px;line-height:1.5">
          <p style="white-space:pre;line-height:1.5"> 
Sorry There is no information of {{cultivar}} ({{crop}}) in our database. 
Please contact:

Dr. Frank M. You
Research Scientist
Agriculture and Agri-Food Canada 
101 Route 100, Morden, Manitoba R6M 1Y5 
Frank.you@agr.gc.ca 
Tel:  204-822-7525
  
          </p>
        </h5>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
