{% extends "base.html" %} 
{% block js %} 
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/pagination.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/dataTables.jqueryui.min.js') }}">
    </script>
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<script>
    variables = {};
    variables.currentURL = '{{ url_for("index") }}';
    variables.crop = '{{ crop }}';
    variables.keyword = '{{ keyword }}';
</script>

<div id="crop-search" class="well">
    <form class="form-inline">
        <div class="form-group">
            <label for="crop-selection">Crop:</label>
            <select class="form-control" id="crop-selection" name="crop">
                {% for cropItem in crops %}
                <option value="{{cropItem.capitalize().replace('_',' ')}}" {% if cropItem.capitalize().replace('_',' ') == crop %} selected {% endif %}>{{cropItem.capitalize().replace('_',' ')}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<div class="clearfix">
    <aside id="cultivar-filter"></aside>
    <section id="main-table-section"></section>
</div>
{% endblock %}
