<div class="panel-group">
  {% for option in searchOptions %}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#{{option.alias}}">{{option.name.replace('_',' ').capitalize()}}</a>
      </h4>
    </div>
    <div id="{{option.alias}}" class="panel-collapse collapse">
      {% if option.options[0].isdigit() and 'year' in option.name %}
      <div class="panel-body">
        <form>
          <div class="form-group form-group-sm input-from-to">
            <input type="text" class="form-control" placeholder="From"> -
            <input type="text" class="form-control" placeholder="To">
            <button type="submit" class="btn btn-primary btn-xs">Update</button>
          </div>
        </form>
      </div>
      {% else %}
      <div class="panel-body" all-null>
        {% for value in option.options %}
        <label class="filter-checkbox">
          <input type="checkbox" value="{{value}}">{{value}}</label>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
